rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {

      match /games/{gameId} {
        allow read;
        allow write: if isValidGame() && isValidUsernameSet();
      }
      
      function isValidGame() {
        return request.resource.data.username != null && request.resource.data.slug != null && request.resource.data.name != null && request.resource.data.autoUpdateUrl != null;
      }
      
      function isValidUsernameSet() {
      	let username = request.resource.data.username;
        let createdValidUsername = exists(/databases/$(database)/documents/usernames/$(username));
        let isValidUserDoc = get(/databases/$(database)/documents/users/$(request.auth.uid)).data.username == username;
        
        return createdValidUsername && isValidUserDoc;
      }

      match /users/{userId} {
      	allow read;
        allow create: if isValidUser(userId);
      }
      
      function isValidUser(userId) {
        let isOwner = request.auth.uid == userId;
      	let username = request.resource.data.username;
        let createdValidUsername = existsAfter(/databases/$(database)/documents/usernames/$(username));
        
        return isOwner && createdValidUsername;
      }
      
      match /usernames/{username} {
      	allow read;
        allow create: if isValidUsername(username);
      }
      
      function isValidUsername(username) {
        let isOwner = request.auth.uid == request.resource.data.uid;
        let isValidLength = username.size() >= 3 && username.size() <= 15;
        let isValidUserDoc = getAfter(/databases/$(database)/documents/users/$(request.auth.uid)).data.username == username;
        
        return isOwner && isValidLength && isValidUserDoc;     
      }
    }
  }
}