* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}

.main-container {
  min-height: 100vh;
  /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
  /* height of your footer */
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

canvas {
  width: 960px;
  height: 600px;
  background: url("/Unity/WebGL.jpg") center / cover;
}
