@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --color-bg: #eef0f1;
  --color-text: #08090a;
  --color-blue: #3b49df;
  --color-red: #df3b3b;
  --color-green: #3bdf72;
  --color-gray: #b5bdc4;
}

html,
body {
  height: 100%;
  position: relative;
  font-family: "Noto Sans", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.main-container {
  min-height: 100vh;
  /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 200px;
  /* height of your footer */
}

.main-content {
  max-width: 900px;
  position: relative;
  margin: 0 auto;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
}

table {
  width: 100%;
}

/* Buttons */
.button {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #3c5d6e;
  border-radius: 6px;
  outline: none;
  transition: 0.3s;
  border: 2px solid transparent;
}

.button:hover,
.button:focus {
  background-color: #c2c7c7;
  border-color: #7aa8b7;
}

.btn,
button {
  background-color: var(--color-gray);
  border: none;
  color: var(--color-text);
  padding: 1rem 1rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  border-radius: 0.25rem;
  cursor: pointer;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

button:hover {
  filter: brightness(90%);
}

button:disabled,
button[disabled] {
  filter: brightness(80%);
  cursor: not-allowed;
}

button.btn-blue {
  background-color: var(--color-blue);
  color: white;
}

button.btn-red {
  background-color: var(--color-red);
  color: white;
}

button.btn-green {
  background-color: var(--color-green);
  color: white;
}

button.btn-google {
  background-color: white;
  color: var(--color-text);
}

.btn-google img {
  width: 30px;
  margin-right: 10px;
}

button.btn-logo {
  background-color: var(--color-text);
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

code {
  overflow-x: scroll;
}

.url-snippet {
  width: 75%;
  margin-left: auto;
  background: white;
  padding: 5px;
  margin: 5px 0;
}

.text-sm {
  font-size: 0.85rem;
}

.text-danger {
  font-weight: bold;
  color: var(--color-red);
}

.text-success {
  font-weight: bold;
  color: var(--color-green);
}

.text-info {
  font-weight: bold;
  color: var(--color-blue);
}
